body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/*########## HEADER ##########*/

#top-nav {
    background-color: black;
    padding: 0.5em;
    margin: 0;
}
#top-nav ul {
    display: flex;
    justify-content: right;
    margin: 0;
}
#top-nav li {
    display: flex;
    padding: 0em 1em;
    font-family: Arial, Helvetica, sans-serif;;
    color: #aaa;
}
#top-nav div:hover {
    color: white;
    cursor: pointer;
}
#top-nav a {
    text-decoration: none;
    color: #aaa;
}
#top-nav a:hover {
    color: white;
}
#top-nav i {
    padding-left: 5px;
}


#main-nav ul {
    display: none;
    gap: 0em 1em;
}
#main-nav li {
    display: inline-block;
}

#mobile-nav {
    display: flex;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
}
#mobile-nav h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 2em;
    margin: 0;
    padding: 0.5em;
}
#mobile-nav a {
    text-decoration: none;
}
#hamburger {
    padding: 1em;
    color: #ccc;
    font-size: 1.5em;
    align-self: center;
}
#hamburger:hover {
    color: white;
    cursor: pointer;
}

#hero-img-container {
    position: absolute;
    top: 26px;
    z-index: -1;
}

#hero-img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}

/*########## MAIN ##########*/

main {
    margin: auto;
    width: 450px;
    max-width: 90vw;
    position: relative;
    top: 175px;
}

#find-personal-plan {
    background-color: white;
    border-radius: 5px;
    padding: 2em;
    box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.2);
}
#find-personal-plan h2 {
    margin: 0;
    font-size: 2em;
    text-align: center;
}

fieldset {
    border: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em 0em;
}
fieldset label {
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 2em;
}
fieldset select {
    width: 100%;
    border: 0;
    border-bottom: 1px solid;
    border-color: #ccc;
}
fieldset select:hover {
    border-color: teal;
    cursor: pointer;
    font-weight: bold;
}
fieldset input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid;
    border-width: 1px;
    border-color: #ccc;
}
fieldset input:hover {
    border-color: teal;
}

/* SECTION */
#list-of-benefits {
    margin: 2em 0em;
    padding: 1em 5em;
    text-align: center;
}
#list-of-benefits h2 span {
    border-top: 2px solid orangered;
    padding-top: 0.3em;
}
.benefit-section {
    margin-bottom: 4em;
}
.benefits-intro {
    font-family: Arial, Helvetica, sans-serif;
}
.benefit-image {
    width: 100%;
}
.benefit-details {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    line-height: 20px;
}
.benefit-link {
    text-decoration: none;
    color: rgb(0, 119, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.benefit-link:hover {
    text-decoration: underline;
}